#root {
  /* background-image: linear-gradient(to right, #114da8, #4eb5f5); */
  height: 100%;
}

.currency {
  align-items: center;
  justify-content: center;
  display: flex;
}

.App {
  height: 100%;
  width: 100%;
}
