#root {
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #114da8, #4eb5f5);
  height: 100%;
  display: flex;
}

.main {
  width: 100%;
}

.App {
}
